@keyframes polygon {
    0%{
        transform: perspective(800px) rotateY(0deg)
    }

    30%{
        transform: perspective(800px) rotateY(360deg)
    }
    100%{
        transform: perspective(800px) rotateY(360deg)

    }
}
@keyframes polygon-morph {
    0%{
        transform: perspective(800px) rotateY(0deg)
        scale(1)
    }

    30%{
        transform: perspective(800px) rotateY(360deg)
        rotateZ(90deg)
        scale(0.8)
    }
    100%{
        transform: perspective(800px) rotateY(360deg)
        scale(1)

    }
}


@keyframes float {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(10px)
    }
    100%{
        transform: translateY(0px)
    }
}